<% content_for :title, "Editing user" %>
<%= hidden_field_tag :return_to, user_path(@user) %>
<h1>Editing your profile</h1>

<%= render "editform", user: @user %>

<br>

<div>
  <%= link_to "Back", user_path %>
</div>
