<h1>Your Orders</h1>

<% if @orders.any? %>
  <% @orders.each do |order| %>
    <div style="display:flex; margin:20px;">
      <div class="order-card">
        <p><strong>Order ID:</strong> <%= order.id %></p>
        <p><strong>Total:</strong> $<%= order.total %></p>
        <p><strong>Placed on:</strong> <%= order.created_at.strftime("%Y-%m-%d %H:%M") %></p>
      </div>
      
      <div style="margin-left: 100px;">
        <%= link_to "View Order", order_path(order), class: "btn btn-primary" %>
      </div>
      
    </div>
    <hr>
  <% end %>
<% else %>
  <p>You have no orders yet.</p>
<% end %>