.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 100%;
}

.single_item{
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

.single_item img{
    width: 100%;
    height: 200px;   
    object-fit: contain; 
    object-position: center; 
    background-color: #f9f9f9;
    padding: 5px;
}

.product{
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 20px;

}

.image{
    width: 50%;
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
}

.image img{
    max-width: 100%;
    max-height: 100%;  
    object-fit: contain; 
    object-position: center; 
    background-color: #f9f9f9; 
}


.add_cart-btn {
    background-color: rgb(247, 223, 75);  
    border-color: rgb(247, 223, 75);   
    color: rgb(95, 93, 93);
    width: 200px;
    padding: 12px 24px;
    border-radius: 10px;        
    font-weight: 600;
    font-size: 16px;
}

.add_cart-btn:hover {
    background-color: rgb(247, 232, 131); 
    border-color: rgb(247, 232, 131);
}

.checkout-btn {
    background-color: rgb(247, 223, 75);
    color:white; 
    display:block; 
    width:100%; 
    padding:10px 0;
    border-radius: 10px;
    text-align:center; 
    
}

.checkout-btn:hover {
    background-color: rgb(247, 232, 131);  

}