<% content_for :title, "Editing product" %>

<div>
  <%= link_to "Back", products_path %>
</div>

<div class="product_header">
<h1>Editing product</h1>
</div>

<%= render "form", product: @product %>

<br>


