<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Products</h1>

<%= button_to "New product", new_product_path, method: :get, class:"link-btn" %>

<div id="products">
  <% @products.each do |product| %>

    <%= render product %>

    <p>
      <%= button_to "Show this product", product_path(product), method: :get, class:"link-btn" %>
    </p>
  <% end %>
</div>
