<% content_for :title, "New product" %>

<div class="product_header">
<h1>New product</h1>
</div>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Back to products", products_path %>
</div>
